<a href="https://colab.research.google.com/github/sshiferaw12/Lab-Programming-Fundamentals-In-Python-/blob/main/Session2_WithoutSolutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists in Python
Lists are one of the four built-in collection datatypes(lists, tuples, dictionaries and sets) in python, which store collection data.

Lists are used to store multiple items in a single variable.


General notes about lists:

* Lists can store duplicate values.
* List items are ordered.
* List items are indexed. Index starts from 0.
* List items can be changed.
* List items can be of any data type.



**How do we create lists ?**

**How do we check the size of lists ?**

**How do we access list items ?**

In [ ]:
# Examples:
# Create lists
list1 = [4,5,6,7,7]
print(list1)

list2 = ["Alex","Martin","Coco"]
print(len(list2))
print(list2)

## Acesss List Items

* We use an index to access list items. and a list index starts from 0. Example: `list[0]`

* We can also use a negative index to access list items from the end. Example: `list[-1]`

* We can also use a range of indexes to access multiple items of a list.
Example: `list[2:5]` (item at index 2 is included and item at index 5 is not included)

**How do we check if an item exists in a list ?**

**How do we change a list item ?**

In [ ]:
# Examples access list items
# using index

# print the first item of the list from the follow list
names = ["Alex","Martin","Coco"]
print(names[0])

Alex

In [ ]:
# Examples access list items
# print the second item of the list from the following list
names = ["Alex","Martin","Coco"]
print(names[1])

In [ ]:
# Examples access list items
# using negative index

# print the last item of the list from the following list
names = ["Alex","Martin","Coco","Brian"]
print(names[-1])

In [ ]:
# Examples access list items
# using range indexes

# print the first two items from the list
names = ["Alex","Martin","Coco","Brian"]
print(names[0:2])

In [ ]:
# Examples access list items
# print the last three items from the list
names = ["Alex","Martin","Coco","Brian"]
print(names[1:])

In [ ]:
# Examples access list items
# check if an item exists in a list
names = ["Alex","Martin","Coco","Brian"]
print("Alex" in names)

In [ ]:
# Examples access list items
# change list item
names = ["Alex","Martin","Coco","Brian"]
print(names)
names[2] = "Jhon" # this line is changing the 3rd element of the list (Coco) to Jhon
print(names)

## List methods

*   `append()`: adds element to the end of the list.
*   `insert()`: adds an element at the specified position.
*   `pop()`: removes the element at the specified position
*   `remove()`:	removes the item with the specified value
And many more -> [Here](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
# Example
# adding items
names = ["Alex","Martin","Coco","Brian"]
names.append("Robel")
print(names)
names.insert(2,"Jack")
print(names)

['Alex', 'Martin', 'Coco', 'Brian', 'Robel']
['Alex', 'Martin', 'Jack', 'Coco', 'Brian', 'Robel']

In [ ]:
# Example
# deleting items
names = ["Alex","Martin","Coco","Brian"]
names.pop()
print(names)

names = ["Alex","Martin","Coco","Brian"]
names.remove("Alex")
print(names)

['Alex', 'Martin', 'Coco']
['Martin', 'Coco', 'Brian']

# For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Like while loops, we also have `break` and `continue` statements in for loops.

In [ ]:
# Example
# print each name in the names list
names = ["Alex","Martin","Coco","Brian"]
for name in names:
  print(name)

In [ ]:
# Example using break in for loop
names = ["Alex","Martin","Coco","Brian"]
for name in names:
  if(name == "Martin"):
    break
  print(name)

Alex

In [ ]:
# Example using continue in for loop
names = ["Alex","Martin","Coco","Brian"]
for name in names:
  if(name == "Martin"):
    continue
  print(name)

Alex
Coco
Brian

In [ ]:
# Looping through a string
name = "Alexander"
for letter in name:
  print(letter)

### The `range()` Function

The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Example
# using range function
for i in range(6):
  print(i)

In [ ]:
# Example
# using range function
for i in range(2,6):
  print(i)

In [ ]:
# Example
# using range function
for i in range(2,10,2):
  print(i)

In [ ]:
# Example
# using range function
for i in range(10,2,-1):
  print(i)

### Exercise 1
Write a Python program to get the largest number from a given list

```
numbers = [2,3,5,1,3,14,13,19,-1,21,43,12]

```

### Exercise 2
Write a Python program to select the odd number of a list

Sample Output

```
numbers = [1,2,4,3,6,7,5,8,9,7,8,9,10]

expected output = [1, 3, 7, 5, 9, 7, 9]
```

### Exercise 3

Write a program to calculate the sum of all numbers in a given list:

give list: `[3,5,6,7,7,3,7,8,9]`

expected output = 55

### Exercise 4
Write a program that keeps track of items purchased in a shopping list. The program should prompt the user to enter an item purchased. If the item is not already in the shopping list, the program should add it to the list. The program should continue prompting the user for more items until the user enters "finish". Once the user enters "finish", the program should print the shopping list to the console.


### Exercise 5
You are given the following list, which is a list of prices items shopped above. Write a program that calculates the average price of the items.


```
prices = [20,30,23,40, 50, 60]
```
expected output = 37.17


### Exercise 6
Write a program that asks users a series of questions and displays their score at the end. The program should ask the questions one at a time and keep track of the user's score. If the user answers a question correctly, they should receive 1 point. If they answer a question incorrectly, they should receive 0 points. At the end of the quiz, the program should display the user's total score. Use a list to store the questions and answers.
Sample questions:
1. What is the capital of France? **Paris**
2. What is the square root of 16? **4**
3. What is the largest ocean? **Pacific Ocean**
4. Where did the last World cup take place? **Qatar**

In [ ]:
# Exercise 6 - Solution
questions = ["What is the capital of France?", "What is the square root of 16?", "What is the largest ocean?", "Where did the last World Cup take place?"]
answers = ["Paris","4","Pacific Ocean","Qatar"]

score = 0
for i in range(len(questions)):
  answer = input(questions[i])
  if answer == answers[i]:
    score += 1

print(score)

What is the capital of France?b
What is the square root of 16?4
What is the largest ocean?Pacific Ocean
Where did the last World Cup take place?d
2

Exercise 7
Given an array of integers nums, return the number of good pairs.

A pair (i, j) is called good if nums[i] == nums[j] and i < j.

```
Example 1:

Input: nums = [1,2,3,1,1,3]
Output: 4
Explanation: There are 4 good pairs (0,3), (0,4), (3,4), (2,5) 0-indexed.
Example 2:

Input: nums = [1,1,1,1]
Output: 6
Explanation: Each pair in the array are good.
Example 3:

Input: nums = [1,2,3]
Output: 0
```